
.Dialog-box{
  display: flex;
  flex-direction:column;
  width: 35rem;
  border-width: 7px;
  border-style: solid;
  border-radius: 10px;
  padding-top: 0.4rem;
  padding-bottom: 1.5rem;
  text-align: center;
  margin: 3rem;
  box-shadow: 8px 5px 5px lightgray;
}

.Dialog-title{
  text-shadow: 4px 3px 2px lightgray;
}

.Dialog-message{
  margin-bottom: 2.5rem;
}

.Dialog-button{
  float: right;
  border-style: dashed solid;
}

